# Introduction à l'Analyse Psychométrique avec Python

Ce notebook est conçu pour vous guider dans l'analyse psychométrique des données de personnalité basées sur le modèle du Big five (Extraversion, Ouverture à l'expérience, Agréabilité, Conscienciosité, Stabilité émotionnelle).

Commençons par charger les données !

In [5]:
# ============================================================
# Section 1 : Chargement des Données
# ============================================================

# Importation des bibliothèques nécessaires
# A effectuer sur votre terminal au préalable : pip install factor-analyzer ; pip install pingouin
import pandas as pd
from factor_analyzer import FactorAnalyzer
import pingouin as pg

# Chargement du fichier CSV (assurez-vous qu'il est dans le même dossier)
data = pd.read_csv("data_big_five.csv", sep='\t')
data.head()

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3

In [7]:
# ============================================================
# Section 2 : Préparation des Données
# ============================================================

### Détails sur le dataset à analyser ###

# Suppression de colonnes non utilisées
columns_to_drop = ["race", "engnat", "hand", "source", "country"]
data.drop(columns=columns_to_drop, errors='ignore', inplace=True)

# Aperçu rapide du dataset
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19719 entries, 0 to 19718
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     19719 non-null  int64
 1   gender  19719 non-null  int64
 2   E1      19719 non-null  int64
 3   E2      19719 non-null  int64
 4   E3      19719 non-null  int64
 5   E4      19719 non-null  int64
 6   E5      19719 non-null  int64
 7   E6      19719 non-null  int64
 8   E7      19719 non-null  int64
 9   E8      19719 non-null  int64
 10  E9      19719 non-null  int64
 11  E10     19719 non-null  int64
 12  N1      19719 non-null  int64
 13  N2      19719 non-null  int64
 14  N3      19719 non-null  int64
 15  N4      19719 non-null  int64
 16  N5      19719 non-null  int64
 17  N6      19719 non-null  int64
 18  N7      19719 non-null  int64
 19  N8      19719 non-null  int64
 20  N9      19719 non-null  int64
 21  N10     19719 non-null  int64
 22  A1      19719 non-null  int64
 23  A2      19719 non-null  int64
 24  A3      19719 non-null  int64
 25  A4      19719 non-null  int64
 26  A5      19719 non-null  int64
 27  A6      19719 non-null  int64
 28  A7      19719 non-null  int64
 29  A8      19719 non-null  int64
 30  A9      19719 non-null  int64
 31  A10     19719 non-null  int64
 32  C1      19719 non-null  int64
 33  C2      19719 non-null  int64
 34  C3      19719 non-null  int64
 35  C4      19719 non-null  int64
 36  C5      19719 non-null  int64
 37  C6      19719 non-null  int64
 38  C7      19719 non-null  int64
 39  C8      19719 non-null  int64
 40  C9      19719 non-null  int64
 41  C10     19719 non-null  int64
 42  O1      19719 non-null  int64
 43  O2      19719 non-null  int64
 44  O3      19719 non-null  int64
 45  O4      19719 non-null  int64
 46  O5      19719 non-null  int64
 47  O6      19719 non-null  int64
 48  O7      19719 non-null  int64
 49  O8      19719 non-null  int64
 50  O9      19719 non-null  int64
 51  O10     19719 non-null  int64
dtypes: int64(52)
memory usage: 7.8 MB

,age,gender,E1,E2,E3,E4,E5,E6,E7,E8,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
count,1.971900e+04,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,...,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000
mean,5.076703e+04,1.616918,2.628937,2.759724,3.416755,3.152036,3.432223,2.452609,2.867285,3.376490,...,3.692479,2.149653,4.126122,2.079416,3.873016,1.794766,4.072975,3.208023,4.133577,4.004767
std,7.121272e+06,0.499122,1.232565,1.313818,1.236820,1.222822,1.282003,1.241616,1.431814,1.266396,...,1.116302,1.135227,1.006806,1.109751,0.939655,1.068513,0.923595,1.258921,0.982868,0.983729
min,1.300000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.800000e+01,1.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,...,3.000000,1.000000,4.000000,1.000000,3.000000,1.000000,4.000000,2.000000,4.000000,3.000000
50%,2.200000e+01,2.000000,3.000000,3.000000,4.000000,3.000000,4.000000,2.000000,3.000000,3.000000,...,4.000000,2.000000,4.000000,2.000000,4.000000,1.000000,4.000000,3.000000,4.000000,4.000000
75%,3.100000e+01,2.000000,4.000000,4.000000,4.000000,4.000000,5.000000,3.000000,4.000000,4.000000,...,5.000000,3.000000,5.000000,3.000000,5.000000,2.000000,5.000000,4.000000,5.000000,5.000000
max,1.000000e+09,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [9]:
### Nettoyage des données ###

# Remplacer les zéros par NA (valeurs manquantes)
data.replace(0, pd.NA, inplace=True)

# Pour l'âge, remplacer les valeurs > 99 par NA
if 'age' in data.columns:
    data.loc[data['age'] > 99, 'age'] = pd.NA

# Vérification du nombre de valeurs manquantes
print("Valeurs manquantes par colonne :")
print(data.isnull().sum())

# Détection et exclusion des réponses uniformes sur les questions
questions = [f"{d}{i}" for d in ['E','N','A','C','O'] for i in range(1,11)]
uniform_mask = data[questions].nunique(axis=1) == 1
print("Nombre de réponses uniformes :", uniform_mask.sum())

data = data.loc[~uniform_mask].reset_index(drop=True)
print("Nombre de personnes restantes :", data.shape[0])

data.head()

Valeurs manquantes par colonne :
age       84
gender    24
E1         1
E2         1
E3         1
E4         1
E5         1
E6         1
E7         1
E8         1
E9         1
E10        1
N1         1
N2         1
N3         1
N4         1
N5         1
N6         1
N7         1
N8         1
N9         1
N10        1
A1         1
A2         1
A3         1
A4         1
A5         1
A6         1
A7         1
A8         1
A9         1
A10        1
C1         1
C2         1
C3         1
C4         1
C5         1
C6         1
C7         1
C8         1
C9         1
C10        1
O1         1
O2         1
O3         1
O4         1
O5         1
O6         1
O7         1
O8         1
O9         1
O10        1
dtype: int64
Nombre de réponses uniformes : 26
Nombre de personnes restantes : 19693

    age gender E1 E2 E3 E4 E5 E6 E7 E8  ... O1 O2 O3 O4 O5 O6 O7 O8 O9 O10
0  53.0      1  4  2  5  2  5  1  4  3  ...  4  1  3  1  5  1  4  2  5   5
1  46.0      2  2  2  3  3  3  3  1  5  ...  3  3  3  3  2  3  3  1  3   2
2  14.0      2  5  1  1  4  5  1  1  5  ...  4  5  5  1  5  1  5  5  5   5
3  19.0      2  2  5  2  4  3  4  3  4  ...  4  3  5  2  4  2  5  2  5   5
4  25.0      2  3  1  3  3  3  1  3  1  ...  3  1  1  1  3  1  3  1  5   3

[5 rows x 52 columns]

# Les Trois Grands Critères Psychométriques

Pour vérifier qu'un test est valable, il est essentiel de prendre en compte les trois grands critères :

1. **La Validité** : Mesure si un outil évalue bien ce qu'il est censé mesurer.
2. **La Fiabilité** : Indique la cohérence interne et la stabilité des résultats.
3. **La Sensibilité** : Évalue la capacité de l'outil à détecter des variations fines entre les individus.

Voici une décomposition de ces critères :
![Les Trois Critères Psychométriques](criteres_psychometriques.png)

# La consistance interne : Une dimension de la fiabilité
La fiabilité est un des trois critères clés en psychométrie, et l'une de ses composantes essentielles est **la consistance interne**.

### Qu'est-ce que ca consistance interne ?
La consistance interne mesure à quel point les items (questions) d'un test sont cohérents entre eux. Elle permet de vérifier si toutes les questions évaluent bien le même construit. Si les réponses à des items évaluant une même dimension sont bien corrélées entre elles, cela suggère que les items évaluent bien un même trait.

### Comment la mesurer ?
L'outil principal pour mesurer la consistance interne est **l'alpha de Cronbach**. Un alpha supérieur à **0.7** est généralement considéré comme acceptable, mais cela peut dépendre du contexte. Essayons de calculer un alpha de Cronbach sur les dix questions évaluant l'extraversion, et voyons ce que donne !

In [11]:
# ============================================================
# Section 3 : Fiabilité
# Sous-section : Consistance Interne
# ============================================================

### Calcul de l'alpha de Cronbach pour l'extraversion ###

# Colonnes d'extraversion
extraversion_columns = [f"E{i}" for i in range(1, 11)]

# Fonction de calcul de l'alpha de Cronbach
def cronbach_alpha(df):
    item_var = df.var(axis=0, ddof=1)
    total_var = df.sum(axis=1).var(ddof=1)
    n_items = df.shape[1]
    alpha = (n_items / (n_items - 1)) * (1 - (item_var.sum() / total_var))
    return alpha

# Calcul initial
alpha_extraversion = cronbach_alpha(data[extraversion_columns])
print(f"Alpha d'Extraversion avant correction : {alpha_extraversion:.2f}")

# Interprétation simple
if alpha_extraversion < 0.7:
    print("L'alpha est faible. Nous devons vérifier les items inversés.")
else:
    print("Alpha acceptable. Les items d'Extraversion sont cohérents.")

Alpha d'Extraversion avant correction : -0.43
L'alpha est faible. Nous devons vérifier les items inversés.

In [13]:
### Correction des items inversés ###

# Items à inverser pour l'Extraversion
cols_to_reverse_ex = ["E2", "E4", "E6", "E8", "E10"]
for col in cols_to_reverse_ex:
    data[col] = 6 - data[col]

# Nouveau calcul
alpha_extraversion_corrected = cronbach_alpha(data[extraversion_columns])
print(f"Alpha d'Extraversion après correction : {alpha_extraversion_corrected:.2f}")

if alpha_extraversion_corrected < 0.7:
    print("L'alpha reste faible, une analyse plus approfondie est nécessaire.")
else:
    print("L'alpha est maintenant acceptable.")

# Stockage des résultats
alphas = {"Extraversion": alpha_extraversion_corrected}

Alpha d'Extraversion après correction : 0.89
L'alpha est maintenant acceptable.

In [15]:
### Correction des items inversés et calcul de l'alpha pour les autres dimensions ###

dimensions = {
    "Neuroticisme": {"cols": [f"N{i}" for i in range(1, 11)], "inv": ["N2", "N4"]},
    "Agréabilité": {"cols": [f"A{i}" for i in range(1, 11)], "inv": ["A1", "A3", "A5", "A7"]},
    "Conscienciosité": {"cols": [f"C{i}" for i in range(1, 11)], "inv": ["C2", "C4", "C6", "C8"]},
    "Ouverture": {"cols": [f"O{i}" for i in range(1, 11)], "inv": ["O2", "O4", "O6"]},
}

for dim, info in dimensions.items():
    for col in info["inv"]:
        data[col] = 6 - data[col]
    alpha_dim = cronbach_alpha(data[info["cols"]])
    alphas[dim] = alpha_dim
    print(f"Alpha {dim} : {alpha_dim:.2f}")

Alpha Neuroticisme : 0.87
Alpha Agréabilité : 0.83
Alpha Conscienciosité : 0.81
Alpha Ouverture : 0.79

In [17]:
### Récapitulatif des alphas de Cronbach ###

tableau_alpha = pd.DataFrame([
    {"Dimension": dimension, "Alpha": alpha} for dimension, alpha in alphas.items()
])

print("\nRésumé des alphas de Cronbach :")
print(tableau_alpha)

Résumé des alphas de Cronbach :
         Dimension     Alpha
0     Extraversion  0.892888
1     Neuroticisme  0.869446
2      Agréabilité  0.832821
3  Conscienciosité  0.813737
4        Ouverture  0.794635

### Limites de l'alpha de Cronbach et l'importance de l'omega de McDonald
L'alpha de Cronbach est un indicateur utile pour évaluer la consistance interne, mais il présente certaines limites:
1. **Hypothèse de tau-équivalence :** L'alpha suppose que tous les items contribuent de manière égale au score total, ce qui est rarement le cas en pratique.
2. **Sensibilité au nombre d'items :** L'alpha peut être artificiellement élevé si le nombre d'items est important.

### L'omega de McDonald : une mesure alternative
L'omega est une mesure plus robuste de la consistence interne, car il prend en compte des pondérations différentielles des items (modèle factoriel). Il ne repose pas sur l'hypothèse de tau-équivalence. On calcule "l'omega total" pour évaluer la consistance interne d'une dimension psychologique sans s'intéresser à ses sous-facteurs (on choisirait "l'omega hiérarchique" dans le cas contraire). Un omega supérieur à 0.7 est également considéré acceptable.

In [25]:
# Définition des dimensions et des colonnes associées
dimensions = {
    "Extraversion": [f"E{i}" for i in range(1, 11)],
    "Neuroticisme": [f"N{i}" for i in range(1, 11)],
    "Agréabilité": [f"A{i}" for i in range(1, 11)],
    "Conscienciosité": [f"C{i}" for i in range(1, 11)],
    "Ouverture": [f"O{i}" for i in range(1, 11)],
}

# Fonction de calcul de l'omega total pour un ensemble d'items
def omega_total(data, items):
    from factor_analyzer import FactorAnalyzer

    # Ajuster un modèle à 1 facteur sur la matrice de corrélation des items
    fa = FactorAnalyzer(n_factors=1, rotation=None)
    fa.fit(data[items].dropna())

    # Extraire les loadings du facteur (une valeur par item)
    loadings = fa.loadings_[:, 0]

    # Calculs nécessaires :
    # sum_loadings : somme des loadings
    # sum_loadings_squared : somme des loadings au carré
    # n_items : nombre total d'items
    sum_loadings = loadings.sum()
    sum_loadings_squared = (loadings**2).sum()
    n_items = len(items)

    # Formule de l'omega total
    omega = (sum_loadings**2) / ((sum_loadings**2) + (n_items - sum_loadings_squared))

    return omega

# Calculer l'omega total pour chaque dimension et afficher les résultats
omegas = {}
for dimension, cols in dimensions.items():
    val = omega_total(data, cols)
    omegas[dimension] = val
    print(f"Omega total pour {dimension} : {val:.3f}")

# Créer un tableau récapitulatif des omegas
tableau_omega = pd.DataFrame([
    {"Dimension": d, "Omega_Total": o} for d, o in omegas.items()
])

print("\nRésumé des omegas totaux :")
print(tableau_omega)

Omega total pour Extraversion : 0.894
Omega total pour Neuroticisme : 0.871
Omega total pour Agréabilité : 0.842
Omega total pour Conscienciosité : 0.814
Omega total pour Ouverture : 0.798

Résumé des omegas totaux :
         Dimension  Omega_Total
0     Extraversion     0.893991
1     Neuroticisme     0.870908
2      Agréabilité     0.842173
3  Conscienciosité     0.813866
4        Ouverture     0.798312

# Fiabilité test-retest
Les données de ce dataset ne sont pas longitudinales, cette caractéristique ne peut donc pas être évaluée.

# La sensibilité
La sensibilité d'un test psychométrique fait référence à sa capacité à distinguer des différences subtiles entre les individus

### Qu'est-ce que la sensibilité d'une mesure ?
La sensibilité s’intéresse à la finesse de la mesure, c’est-à-dire sa capacité à différencier finement les individus. Un outil peu sensible aboutira à des scores très semblables pour la plupart des personnes, rendant difficile la mise en évidence de différences importantes, qu’il s’agisse de comparer différents groupes ou de suivre une progression dans le temps.

### Comment évaluer la sensibilité ?
Pour évaluer simplement la sensibilité, on peut examiner la variabilité des scores. Plus la variabilité est élevée, plus le test est susceptible de détecter des différences entre individus. Un indicateur simple est l’écart-type : un écart-type trop faible (tous les scores proches d’une valeur centrale) suggère une sensibilité limitée, alors qu’un écart-type plus élevé peut indiquer une mesure plus sensible. De plus, il est souvent utile de vérifier la distribution des données. De nombreux tests statistiques requièrent une distribution normale. Si les données sont fortement asymétriques ou aplaties, cela peut affecter l’interprétation de la sensib#ilité.

### Vérifier la normalité des données
Pour cela, on peut utiliser le test de Shapiro-Wilk, qui évalue si les données proviennent d’une distribution normale. Si la p-value du test est inférieure à un seuil (généralement 0,05), cela indique une déviation significative par rapport à une distribution normale.